.about {
    padding: 160px 0 60px;
    background-color: var(--color-white);
}

.about__subtitle {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-light-black);
}

.about__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__title {
    max-width: 505px;
    font-weight: 700;
    font-size: 50px;
    color: var(--color-light-green);
}

.about__desc {
    max-width: 670px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-light-black);
}